.Rproj.user
.Rhistory
.RData
.Ruserdata
.RData
.Rhistory
.Rproj.user/79CA73DC/pcs/windowlayoutstate.pper
.Rproj.user/79CA73DC/pcs/workbench-pane.pper
.Rproj.user/79CA73DC/sources/per/t/10CE72EF
.Rproj.user/79CA73DC/sources/per/t/10CE72EF-contents
.Rproj.user/79CA73DC/sources/prop/DA79C5BD
.Rproj.user/79CA73DC/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
